:root {
    --white: #FFFFFF;
    --lightBeige: #f5f1f0;
    --beige: #e2d1c2ff;
    --anotherBeige: #e2d1c2;
    --darkBeige: #ad9b91;
    --lightGrey: #363636;
    --darkGrey: #1b1b1b;
    --black: #000000;
}

body{
    background: var(--bg);
    color: var(--fontColor);
    font-family: monospace;
    margin: 0;
}

h1 {
    background: var(--secondBg);
    color: var(--secondColor);
    margin: 0;
    text-align: center;
    padding: 20px;
}

ul {
    margin: 10px;
}

#msg {
    margin: 10px;
}

.list{
    list-style: square; 
}

.light-theme {
    --bg: var(--lightBeige);
    --fontColor: var(--darkBeige);
    --secondBg: var(--darkBeige);
    --secondColor: var(--lightBeige);
}

.dark-theme {
    --bg: var(--darkGrey);
    --fontColor: var(--lightBeige);
    --secondBg: var(--lightGrey);
    --secondColor: var(--lightBeige);
}

.btn {
    position: absolute;
    top: 10px;
    left: 1275px;
    height: 50px;
    width: 50px;
    border: none;
    border-radius: 50%;
    /* background: var(--secondBg); */
    /* color: var(--secondColor); */
    background: var(--bg);
}

