:root {
    --white: #FFFFFF;
    --lightBeige: #f5f1f0;
    --beige: #e2d1c2ff;
    --anotherBeige: #e2d1c2;
    --darkBeige: #ad9b91;
    --lightGrey: #363636;
    --darkGrey: #121212;
    --darkPurple: #1F1B24;
    --purple: #332940;
    --black: #000000;  
}

body{
    background: var(--bg);
    color: var(--fontColor);
    font-family: monospace;
    margin: 0;
}

h1 {
    background: var(--secondBg);
    color: var(--secondColor);
    margin: 0;
    text-align: center;
    padding: 20px;
    font-family: Brush Script MT, Brush Script Std, cursive;
    font-size: xx-large;
}

.subH {
    font-family: monospace;
    font-size: medium;
    padding: 10px;
}

.sec {
    padding: 10px;
    background: var(--thirdBg);
    color: var(--thirdColor);
    
}

ul {
    margin: 10px;
}

#msg {
    margin: 10px;
    color: var(--lightBeige);
}

.list{
    list-style: square; 
}

.light-theme {
    --bg: var(--darkBeige);
    --fontColor: var(--lightBeige);
    --secondBg: var(--lightBeige);
    --secondColor: var(--darkBeige);
    --thirdBg: var(--anotherBeige);
    --thirdColor: var(--lightGrey);
}

.dark-theme {
    --bg: var(--darkGrey);
    --fontColor: var(--lightGrey);
    --secondBg: var(--darkPurple);
    --secondColor: var(--white);
    --thirdBg: var(--lightGrey);
    --thirdColor: var(--white);
}

.btn {
    position: absolute;
    top: 75px;
    right: 10px;
    height: 30px;
    width: 30px;
    border: none;
    border-radius: 50%;
    /* background: var(--secondBg); */
    /* color: var(--secondColor); */
    background: var(--secondBg);
}

.img1 {
    alt: "Switch Mode";
    height: 20px;
    width: 20px;
}


